<% layout('layouts/boilerplate') %>
<h1>All Vehicles</h1>
<div>
	<a class="btn btn-info" href="/vehicles/new">Add Vehicle</a>
</div>
<% for (let vehicle of vehicles){ %>
	<div class="card mb-3">
		<div class="row">
			<div class="col-md-4">
				<% if (vehicle.images.length) { %>
					<img class="img-fluid" alt="" src="<%= vehicle.images[0].url %>">
				<% } else { %>
					<img class="img-fluid" alt="" src="">
				<% } %>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title"><%= vehicle.name %></h5>
					<p class="card-text"><%= vehicle.description %></p>
					<p class="card-text">
						<small class="text-muted"><%= vehicle.location %></small>		
					</p>
					<a class="btn btn-info" href="/vehicles/<%= vehicle._id %>">View <%= vehicle.name %></a>
				</div>
			</div>
		</div>
	</div>
<% } %>