<% layout('layouts/boilerplate') %>
<div id="clusterMap" class="mb-3 noTextShadow rounded"></div>
<% for (let vehicle of vehicles){ %>
<div class="card mb-3 nightBG">
	<div class="card m-3 neonBG">
		<div class="row">
			<div class="col-md-4">
				<% if (vehicle.images.length) { %>
				<img class="img-fluid" alt="" src="<%= vehicle.images[0].url %>">
				<% } else { %>
				<img class="img-fluid" alt="" src="">
				<% } %>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title mdText contentFont"><%= vehicle.name %></h5>
					<p class="card-text smText contentFont"><%= vehicle.description.substring(0, 200) %>...</p>
					<p class="card-text">
						<span class="smText contentFont"><%= vehicle.location %></span>		
					</p>
					<a class="neonBtn mdBtn" href="/vehicles/<%= vehicle._id %>">View <%= vehicle.name %></a>
				</div>
			</div>
		</div>
	</div>
</div>
<% } %>
<script>
	const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
	const vehicles = { features: <%- JSON.stringify(vehicles) %> };
</script>
<script src="/scripts/clusterMap.js"></script>